/*body{
    background-color: #099;
}*/
#menuPane{
    /*background-color: darkblue;*/
    /*background-color: #ccccff;*/
    background-image: url("img/entete3.png");
    background-repeat:no-repeat;
    height: 150px;
    border-left:1px solid black; 
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
    border-style: dashed;
    border-radius: 3%;
}
#mainPane{

    height:  777px;
    text-align: center;
    background-image: url("img/main.png");
    background-repeat:no-repeat;
    overflow: auto;


}
/*#mainpane.p{
   text-align: center;
    
}*/
#masterLayout{
width: 1400px;
}
#navPane{
    float: left;
    width: 190px;
    min-height:  777px;

}

#navPane p{

    height: 40px;
    width: 198px;

    padding-top: px;

    margin: 10px;
    text-align: center;
    background-image: url("img/bouton.png");
    background-repeat:no-repeat;
}
#navPane a{
    color:#d3ef55;
    font-size: 24px;
    font-family: Trebuchet MS ;
    /*    text-shadow: 2px 3px 4px #658E00;*/
    font-weight: bold;

}
#navPane a:hover{
    /*    text-decoration: underline;*/
    color: #658E00;
}

#statusPane {
    clear: both;
    height: 56px;
    text-align: center;
    color: #658E00;

}
table {
    border: medium solid #6495ed;
    border-collapse: collapse;
    width: 50%;
    margin-left: 23%;
}
th {
    font-family: monospace;
    border: thin solid #6495ed;
    width: 50%;
    padding: 5px;
    background-color: transparent;

}
td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: transparent;
}
caption {
    font-family: sans-serif;
}